@model ProyectoLogin.Models.Usuario;

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Registrarse</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body class="bg-dark">
    <section class="h-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-xl-4 col-md-4">
                    <div class="card bg-dark d-flex flex-column align-items-center min-vh-100">
                        <div class="px-lg-5 pt-lg-4 pb-lg-3 p-4 mb-auto w-100">
                            <img id="imgLogo" src="/img/logo.png" class="img-fluid" />
                        </div>

                        <div class="card-body align-items-center w-100 p-2 border border-top-0 border-light">
                            <div class="card-header font-weight-bold mb-4 text-light align-items-center">
                                <h2 class="text-center font-weight-bold mb-4">Registrarse</h2>
                            </div>
                            <form asp-controller="Inicio" asp-action="Registrarse" method="post">
                                <div class="">
                                    <label for="formGroupExampleInput" class="form-label font-weight-bold">Usuario</label>
                                    <input class="form-control mb-3" type="text" placeholder="Nombre Completo" asp-for="NombreUsuario" required />
                                </div>

                                <div class="">
                                    <label for="exampleInputEmail1" class="form-label font-weight-bold">Usuario</label>
                                    <input class="form-control mb-3" id="exampleInputEmail1" type="text" placeholder="Correo" asp-for="Correo" required />
                                </div>

                                <div class="mb-4">
                                    <label for="exampleInputPassword1" class="form-label font-weight-bold">Contraseña</label>
                                    <input class="form-control mb-3" type="password" placeholder="Contraseña" asp-for="Clave" required />
                                </div>
                                <div class="d-grid gap-2 mb-3">
                                    <button class="btn btn-primary" type="submit">Registrarse</button>
                                </div>
                                @if (ViewData["Mensaje"] != null)
                                {
                                    <div class="form-group">
                                        <div class="alert alert-danger" role="alert">
                                            @ViewData["Mensaje"]
                                        </div>
                                    </div>
                                }
                                ¿Ya tienes una cuenta? <a href="@Url.Action("IniciarSesion", "Inicio")">Inicia Sesion</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
